* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  background-color: #000000;
  /* color: #333; */
  background-image: url(../img/tech-background-vector-vertical.png);
  background-size: contain;
  /* background-position: center; */
}

.body-filter {
  background-color: rgba(43, 34, 49, 0.85);
}

/* NAVEGADOR ____________________________________________________________________ */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #222;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.logo-img {
  width: 4em;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0.5em 1em;
  margin: 0;
}

.nav-links a:hover {
  color: #d445ff;
}

.nav-links a.activo {
  background-color: #9245a1;
  border-radius: 25px 2px 25px 2px;
  padding: 0.5em 2em;
  color: #fff;
}

/* FOOTER __________________________________________________________________________ */

.footer {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.footer-col h4 {
  margin-bottom: 10px;
}

.footer-col p {
  font-size: 14px;
  margin-bottom: 5px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

/* minimo (min-width: 320px) and (max-width: 360px) */
@media (max-width: 575px) {

  /* NAVEGADOR ____________________________________________________________________ */

  .navbar {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    gap: 0.75em;

    align-items: center;
    padding: 0.5em 1em 1.5em 1em;
    background-color: #222;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .logo-img {
    width: 4em;
  }

  .nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 0.5em 1em;
    margin: 0;
  }

  /* FOOTER __________________________________________________________________________ */

  .footer {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 40px;
  }

  .footer-col h4 {
    margin-bottom: 10px;
  }

  .footer-col p {
    font-size: 14px;
    margin-bottom: 5px;
  }

}

/* ______________________________________________________________________________________________ */
@media (min-width: 576px) and (max-width: 767px) {}

/* Estilos para tablets grandes */
@media (min-width: 768px) and (max-width: 991px) {}

/* 6. Escritorio */
@media (min-width: 992px) {}