/* GRID GENERATOR */

.galeria {
  padding: 1.5em 15em;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 0.5rem;
  border-radius: 10px;
  /* border: 1px solid rgba(255, 255, 255, 0.75); */
  background-color: rgba(255, 255, 255, 0.35);
  padding: 0.5em;
  margin-bottom: 4em;
}

.galeria-div {
  border-radius: 10px;
  background-color: #333;
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 1.25rem;
  overflow: hidden;
}

.galeria-div .div-detalle {
  display: flex;
  justify-content: center;
  /* centra horizontalmente */
  align-items: center;
  /* centra verticalmente */
  text-align: center;

  position: relative;
}

.galeria-div .div-detalle .btn-detalle {
  /* display: none; */
  cursor: pointer;

  display: block;

  opacity: 0%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: auto; */
  /* justify-content: center; */
  padding: 7px 30px;
  width: 50%;
  background-color: #d68fe0;
  color: #fff;
  margin: 2.5em auto;

  border-radius: 25px;
  border: none;

  font-size: 0.65em;
  text-decoration: none;
}

.galeria-div:hover .btn-detalle {
  opacity: 100%;
  transition: 1s ease;
}

.galeria-div:hover .div-detalle {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.galeria-div .btn-detalle:hover {
  background-color: #ba4fe4;
  transition: 0.3s ease;
}

.galeria-grid .div1 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  background-image: url(../img/img_samsung.jpg);
}

.galeria-grid .div2 {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  background-image: url(../img/img_app.jpg);
}

.galeria-grid .div3 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 6;
  background-image: url(../img/img_ipad.jpg);

}

.galeria-grid .div4 {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-row-start: 4;
  background-image: url(../img/img_macbook.jpg);
}

.galeria-grid .div5 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 6;
  background-image: url(../img/img_videogames.jpg);
}

.galeria-grid .div6 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 6;
  grid-row-start: 5;
  background-image: url(../img/img_xiaomi.jpg);
}

.div-detalle {
  width: 100%;
  height: 100%;
  padding: 2.75em;
  /* transition: background 0.5s ease; */
}

.div1 .div-detalle,
.div2 .div-detalle,
.div3 .div-detalle {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0));
}

.div4 .div-detalle,
.div5 .div-detalle,
.div6 .div-detalle {
  background: linear-gradient(
    to top, 
    rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0)
    );
}

/* CATEGORIAS _________________________________________________ */
.categorias {
  padding: 1.5em 3em 1.75em 3em;
  background-color: white;
}

.categorias h2 {
  font-size: 1.2rem;
  margin: 0 0 0.75em 0;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.categoria-card {
  position: relative;
  padding: 30px;
  border-radius: 8px;

  background-color: #eee;
  background-size: cover;
  background-position: center;

  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;

  overflow: hidden;
}

.categoria-filtro {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* negro con opacidad */
  z-index: 1;

  transition: 0.1s all;
}

.categoria-card:hover .categoria-filtro {
  background-color: rgba(255, 255, 255, 0.15);
}

.categoria-contenido {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  /* padding: 20px; */
}

/* PRODUCTOS DESTACADOS ________________________________ */
.productos {
  padding: 1.75em 3em 3em 3em;
  background-color: rgba(0, 0, 0, 0.55);
  margin: 0 0 3em 0;
}

.productos h2 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
  font-weight: lighter;
}

.productos-grid {
  padding: 0 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.75em;
}

.producto-card {
  background-color: white;
  padding: 20px;
  /* border-radius: 8px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.img-card {
  width: 100%;
  height: 12.5rem;
  /* background-color: #ddd; */
  border-radius: 4px;
  margin-bottom: 10px;
  object-fit: contain;
}

.title-card {
  margin-top: 0.5em;
  text-align: start;
  font-weight: lighter;
  font-size: 0.8rem;
}

.subtitle-card {
  color: #333;
  margin-bottom: 1em;
  text-align: start;
  font-size: 0.75rem;
  font-weight: lighter;
}

.btn-card {
  display: flex;
  justify-self: end;
  padding: 7px 25px;
  border-radius: 15px;
  border: none;
  background-color: #dcc3e0;
  cursor: pointer;
  font-size: 0.85rem;
}

.btn-card:hover {
  background-color: #cd7fec;
  color: #fff;
  transition: 0.2s ease;
}

.productos-ver {
  display: flex;
  justify-content: center;
}

.productos-ver .btn-productos {
  text-decoration: none;
  background-color: #fff;
  color: #000;
  padding: 15px 50px;
  font-size: 1rem;
  font-weight: bold;
  margin: 3em 0 0 0;
  border: none;
  border-radius: 5px;
}

.productos-ver .btn-productos:hover {
  background-color: #d68fe0;
  color: #fff;
  transition: 0.2s;
}

/* TITULOS CON LINEAS _____________________________ */

.titulo-lineas {
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  width: 100%;
  gap: 1rem;
  /* espacio entre el texto y las líneas */
  margin: 1.5em 0 0.5em 0;
}

.titulo-lineas::before,
.titulo-lineas::after {
  content: '';
  flex: 1;
  height: 2px;
  background-color: #fff;
}

.titulo-lineas span {
  white-space: nowrap;
  /* para que no se corte en varias líneas */
  padding: 0 0.5rem;
  /* font-weight: bold; */
}

/* PAGOS __________________________________________*/

.pagos {
  padding: 2em 12.5em;
}

.pagos-div {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  padding: 4em 4em 4em 2.5em;
}

.pagos-1 {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: flex-start;
  gap: 0.3em;
  padding: 0 2em 0 2em;
}

.pagos-2 {
  /* width: 38%; */
  display: flex;
  flex-direction: column;
  gap: 0.3em;

  border-left: 1px solid #222;
  padding-left: 1em;
  padding: 0 2em 0 5.5em;
}

.pagos-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2.5em;
}

.pagos-item .item-icon {
  display: flex;
  justify-content: center;
}

.pagos-item .item-icon i {
  font-size: 3rem;
  color: #2f3e68;
}

.pagos-item .item-text {
  font-size: 1.4rem;
}

.pagos-item .item-img {
  /* width: 100%; */
  height: 3.5em;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  padding: 4px;
}

/* POR QUÉ ELEGIRNOS, MOTIVOS CARDS ___________________________*/
.motivos {
  padding: 2em 15em 2em 15em;
  text-align: center;
}

.motivos-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1em;
}

.card-motivo {
  background-color: #fff;
  border-radius: 8px;
  /* height: 20em; */
  padding: 2em 1.5em 2.5em 1.5em;
}

.card-icon {
  font-size: 5.5rem;
  margin: 0.2em 0 0.4em 0;
  color: #2f3e68;
}

/* ENVIOS _________________________________________ */

.envios {
  padding: 2em 0 5em 0;
  /* padding: 1.5em 15em 5em 15em; */
  text-align: center;
  margin-bottom: 3em;
}

.envios-div {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0.5em;
  padding: 1em 15em 0.5em 15em;
}

.card-envio {
  padding: 2em 1.5em 3em 1.5em;
}

/* YA ESTA IMPLICITO ARRIBA */
.card-envio .card-icon {
  font-size: 6rem;
  margin: 0.2em 0 0.4em 0;
  color: #2f3e68;
}

.card-envio .card-p {
  font-size: 1.1em;
}



/* RESPONSIVE CSS */
/* -------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 575px) {

  /* GALERIA GRID ________________________ */
  .galeria {
    padding: 1em 1em;
  }

  .galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);
    /* gap: 8px; */

    /* grid-template-columns: repeat(7, 1fr); */
    /* grid-template-rows: repeat(7, 1fr); */
    gap: 0.5rem;

    border-radius: 10px;
    /* border: 1px solid rgba(255, 255, 255, 0.75); */
    background-color: rgba(255, 255, 255, 0.35);
    padding: 0.5em;
  }

  .galeria-div {
    border-radius: 10px;
    background-color: #333;
    background-size: cover;
    background-position: center;
    color: white;

    font-size: 0.9rem;

    overflow: hidden;
  }

  /* DIVS ---------------------------------------*/
  .galeria-grid .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
  }

  .galeria-grid .div2 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
  }

  .galeria-grid .div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
  }

  .galeria-grid .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 7;
  }

  .galeria-grid .div5 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 11;
  }

  .galeria-grid .div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 8;
  }

  .galeria-div .div-detalle .btn-detalle {
    padding: 7px 10px;
    margin: 2.75em auto;

    border-radius: 25px;
    border: none;
  }

  /* TITULOS CON LINEAS ________________________________ */

  .titulo-lineas {
    font-size: 1.75rem;
    gap: 0.1rem;
    /* espacio entre el texto y las líneas */
    margin: 1em 0 0.5em 0;
  }

  /* POR QUÉ ELEGIRNOS, MOTIVOS CARDS __________________*/
  .motivos {
    padding: 1.5em 5em 3em 5em;
    text-align: center;
    margin-bottom: 3em;
  }

  .motivos-div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
  }

  .card-motivo {
    font-size: 0.9rem;

    border-radius: 10px;
    padding: 1em 1.25em 1.75em 1.25em;
  }

  .card-icon {
    font-size: 6rem;
    margin: 0.2em 0 0.4em 0;
  }

  /* CATEGORIAS _______________________________ */
  .categorias {
    padding: 40px 40px;
    background-color: white;
  }

  .categorias h2 {
    font-size: 1.5rem;
    margin: 0 0 20px 0;
  }

  .categorias-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .categoria-card {
    padding: 30px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  /* PRODUCTOS DESTACADOS _________________________________ */

  .productos {
    padding: 2em 1.5em 2.5em 1.5em;
    /* 40px 40px 60px 40px; */
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0 0 5em 0;
  }

  .productos h2 {
    font-size: 1.35rem;
    color: #ffffff;
    margin: 0;
    margin-bottom: 1.5em;
    font-weight: lighter;
  }

  .productos-grid {
    padding: 0 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
  }

  .producto-card {
    padding: 20px 20px;
    /* border-radius: 8px; */
  }

  .img-card {
    height: 7rem;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .producto-card .title-card {
    margin-top: 1em;
    font-size: 0.55rem;
  }
  
  .producto-card .subtitle-card {
    margin-bottom: 1em;
    font-size: 0.5rem;
  }

  .producto-card .btn-card {
    padding: 7px 25px;
    border-radius: 15px;
    font-size: 0.55rem;
  }

  /* ver todos los productos */
  .productos-ver .btn-productos {
    padding: 15px 50px;
    font-size: 0.75rem;
    margin: 3em 0 0 0;
    border-radius: 5px;
  }

  /* PAGOS ________________________________*/
  .pagos {
    padding: 1.25em 1em 3em 1em;
  }

  .pagos-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 15px;
    padding: 2.5em;
  }

  .pagos-1 {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    justify-content: start;
    gap: 0.3em;

    padding: 0 0em 2em 0em;
  }

  .pagos-2 {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;

    border-left: 0;

    border-top: 1px solid #222;

    padding: 2.1em 0em 0 0em;
  }

  .pagos-1 .pagos-item {
    justify-content: start;
    gap: 1em;
  }

  .pagos-2 .pagos-item {
    width: fit-content;
  }

  .pagos-item .item-icon i {
    font-size: 2rem;
  }

  .pagos-item .item-text {
    font-size: 1rem;
  }

  .pagos-item .item-img {
    height: 3em;
  }

  /* ENVIOS ______________________________ */

  .envios {
    padding: 0 0;
    /* padding: 1.5em 15em 5em 15em; */
    text-align: center;
    margin-bottom: 3em;
  }

  .envios-div {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
    padding: 0.5em 1em 1.65em 1em;
    margin: 2.15em 0 5em 0;
  }

  .card-envio {
    padding: 0.75em 1.5em;
  }

  .card-envio .card-icon {
    font-size: 6rem;
    color: #2f3e68;
  }

  .card-envio .card-p {
    font-size: 0.9em;
  }

}

/* ---------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) and (max-width: 767px) {

  /* GALERIA GRID _______________________________________ */
  .galeria {
    padding: 1.5em;
  }

  .galeria-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(13, 1fr);

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);

    gap: 0.5rem;
    padding: 0.5em;
    margin-bottom: 1.5em;
  }

  /* DIVS ---------------------------------------*/
  .galeria-grid .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-row-start: 4;
  }

  .galeria-grid .div2 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
  }

  .galeria-grid .div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 3;
    grid-row-start: 4;
  }

  .galeria-grid .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-row-start: 7;
  }

  .galeria-grid .div5 {
    grid-column: span 4 / span 4;
    grid-row: span 3 / span 3;
    grid-row-start: 11;
  }

  .galeria-grid .div6 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 8;
  }

  .galeria-div .div-detalle .btn-detalle {
    padding: 7px 10px;
    margin: 2.5em auto;

    border-radius: 25px;
    border: none;
  }

  /* CATEGORIAS ______________________________ */
  .categorias h2 {
    font-size: 1.1rem;
    margin: 0 0 0.75em 0;
  }

  .categorias-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .categoria-card {
    padding: 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.9rem;
  }

  /* PRODUCTOS DESTACADOS _________________________ */
  .productos {
    padding: 1.75em 1.5em 3em 1.5em;
    margin: 0 0 3em 0;
  }

  .productos h2 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 30px;
  }

  .productos-grid {
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75em;
  }

  .producto-card {
    padding: 20px;
    /* border-radius: 8px; */
  }

  .producto-card .img-card {
    height: 8rem;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .producto-card .title-card {
    margin-top: 0.5em;
    font-size: 0.65rem;
  }
  
  .producto-card .subtitle-card {
    margin-bottom: 1em;
    font-size: 0.55rem;
  }

  .producto-card .btn-card {
    padding: 7px 25px;
    border-radius: 15px;
    font-size: 0.7rem;
  }

  .productos-ver .btn-productos {
    padding: 15px 50px;
    font-size: 1rem;
    margin: 2.75em 0 0 0;
    border-radius: 5px;
  }

  /* TITULOS CON LINEAS __________________________________ */
  .titulo-lineas {
    font-size: 2.25rem;
    gap: 1rem;
    /* espacio entre el texto y las líneas */
    margin: 1em 0 0.5em 0;
  }

  /* PAGOS ________________________________*/

  .pagos {
    padding: 1.25em 1em 3em 1em;
  }

  .pagos-div {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    border-radius: 15px;
    padding: 2.5em;
  }

  .pagos-1 {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    justify-content: start;
    gap: 0.3em;

    padding: 0 1em 2.25em 1em;
  }

  .pagos-2 {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;

    border-left: 0;

    border-top: 1px solid #222;

    padding: 2.25em 2em 0 2em;
  }

  .pagos-1 .pagos-item {
    justify-content: start;
    gap: 2em;
  }

  .pagos-2 .pagos-item {
    width: fit-content;
  }

  .pagos-item .item-icon {
    display: flex;
    justify-content: center;
    /* padding: 0 3em; */
  }

  .pagos-item .item-icon i {
    font-size: 2.25rem;
  }

  .pagos-item .item-text {
    font-size: 1rem;
  }

  .pagos-item .item-img {
    height: 3em;
  }

  /* POR QUÉ ELEGIRNOS, MOTIVOS CARDS ___________________*/
  .motivos {
    padding: 1.5em 1em 2em 1em;
    text-align: center;
    margin-bottom: 3em;
  }

  .motivos-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
  }

  .card-motivo {
    border-radius: 10px;
    padding: 2em 1.5em 2.5em 1.5em;
    font-size: 0.8rem;
  }

  .card-icon {
    font-size: 5rem;
    margin: 0.2em 0 0.4em 0;
  }

  /* ENVIOS _______________________________________ */
  .envios {
    padding: 0 0;
    /* padding: 1.5em 15em 5em 15em; */
    text-align: center;
    margin-bottom: 3em;
  }

  .envios-div {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.25em;
    padding: 1em 2em 2em 2em;
    margin: 3em 0 5em 0;
  }

  .card-envio {
    padding: 1.5em 0.5em;
    font-size: 0.8rem;
  }

  .card-envio .card-icon {
    font-size: 6rem;
    color: #2f3e68;
  }

  .card-envio .card-p {
    font-size: 1.1em;
  }

}

/* ---------------------------------------------------------------------------------------------------------------- */

/* Estilos para tablets grandes */
@media (min-width: 768px) and (max-width: 991px) {

  /* GALERIA GRID _______________________________________ */
  .galeria {
    padding: 1.5em 2.25em;
  }

  .galeria-grid {
    gap: 0.5rem;
    padding: 0.5em;
    margin-bottom: 1.5em;
  }

  /* CATEGORIAS ______________________________ */
  .categorias h2 {
    font-size: 1.2rem;
    margin: 0 0 0.75em 0;
  }

  .categorias-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .categoria-card {
    padding: 30px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
  }

  /* PRODUCTOS DESTACADOS _________________________ */
  .productos {
    padding: 1.75em 3em 3em 3em;
    margin: 0 0 3em 0;
  }

  .productos h2 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 30px;
  }

  .productos-grid {
    padding: 0 1em;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.75em;
  }

  .producto-card {
    padding: 20px;
    /* border-radius: 8px; */
  }

  .producto-card .img-card {
    height: 10rem;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .producto-card .title-card {
    margin-top: 0.5em;
    font-size: 0.75rem;
  }
  
  .producto-card .subtitle-card {
    margin-bottom: 1em;
    font-size: 0.6rem;
  }

  .producto-card .btn-card {
    padding: 7px 25px;
    border-radius: 15px;
    font-size: 0.75rem;
  }

  .productos-ver .btn-productos {
    padding: 15px 50px;
    font-size: 1rem;
    margin: 4em 0 0 0;
    border-radius: 5px;
  }

  /* TITULOS CON LINEAS __________________________________ */
  .titulo-lineas {
    font-size: 2.25rem;
    gap: 1rem;
    /* espacio entre el texto y las líneas */
    margin: 1em 0 0.5em 0;
  }

  /* PAGOS _____________________________*/
  .pagos {
    padding: 2em 2.5em;
  }

  .pagos-div {
    display: flex;
    /* flex-direction: column; */

    justify-content: space-between;
    border-radius: 15px;
    padding: 2.5em;
  }

  .pagos-1 {
    /* width: 60%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    justify-content: start;
    gap: 0.3em;

    padding: 1em 2.5em 1em 1.5em;
  }

  .pagos-1 .pagos-item {
    justify-content: start;
    gap: 2em;
  }

  .pagos-2 {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    /* border-left: 0; */

    border-left: 1px solid #222;

    padding: 2em 2.5em 2em 4em;
  }

  .pagos-2 .pagos-item {
    justify-content: center;
  }

  .pagos-item .item-icon {
    display: flex;
    justify-content: center;
  }

  .pagos-item .item-icon i {
    font-size: 3em;
  }

  .pagos-item .item-text {
    font-size: 1rem;
  }

  .pagos-item .item-img {
    height: 2.75em;
  }

  /* POR QUÉ ELEGIRNOS, MOTIVOS CARDS _______________________*/
  .motivos {
    padding: 1.5em 2em 2em 2em;
    text-align: center;
    margin-bottom: 3em;
  }

  .motivos-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 1em;
  }

  .card-motivo {
    border-radius: 10px;
    padding: 2em 1.5em 2.5em 1.5em;
    font-size: 0.85rem;
  }

  .card-icon {
    font-size: 6rem;
    margin: 0.2em 0 0.4em 0;
  }

  /* ENVIOS __________________________ */

  .envios {
    padding: 0 0;
    /* padding: 1.5em 15em 5em 15em; */
    text-align: center;
    margin-bottom: 3em;
  }

  .envios-div {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 0.25em;
    padding: 1em 2em 2em 2em;
    margin: 3em 0 5em 0;
  }

  .card-envio {
    padding: 1.5em 0.75em;
    font-size: 0.85rem;
  }

  .card-envio .card-icon {
    font-size: 6rem;
    color: #2f3e68;
  }

  .card-envio .card-p {
    font-size: 1.1em;
  }

}

/* ---------------------------------------------------------------------------------------------------- */

/* 6. Escritorio */
@media (min-width: 992px) {}