/* BUSQUEDA ___________________________________________ */

.busqueda {
    padding: 0 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 20px 0;
}

.busqueda-input {
    background-color: #fff;
    border-radius: 25px;
    padding: 10px 15px;
    
    position: relative;
}

.clear-btn {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-57.5%);
    font-size: 22px;
    color: #d3d3d3;
    cursor: pointer;
    display: none; /* Oculto por defecto */
    user-select: none;
}

#texto::placeholder {
    color: #dddddd;   /* color del texto */
    opacity: 1;    /* Safari necesita esto */
}

#texto {
    width: 400px;
    padding-right: 35px; /* espacio para la X */

    font-size: 0.9rem;
    border-radius: 25px;

    padding: 6px 15px;

    border: 1px solid #4e4e4e;
    background-color: #5f5f5f;
    color: white;

    box-shadow: inset 0 0 6px rgba(0,0,0,0.35);
}

.btn-buscar {
    border-radius: 99px;
    width: 45px;
    height: 45px;

    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.btn-buscar:hover {
    cursor: pointer;
    background-color: #cf55ff;
    box-shadow: 0 0 10px rgba(239, 118, 255, 0.75);
    color: #ffffff;
}

.categoria-chips {
    background-color: #222;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 10px;
    flex-wrap: wrap;
}

.chip {
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.2s;
}

.chip:hover {
    background: #616161;
}

.chip.activa {
    color: rgb(255, 208, 0);
    font-weight: bolder;
}

/* HEAD PRODUCTOS Catalogo Navegacion Activa ____________________________________________ */
.productos-head {
    width: 100%;
    background-color: #fff;
}

#productos-heading {
    padding: 10px 10px 2px 15px;
    font-size: 0.95rem;
}

.breadcrumb {
    padding: 2px 10px;
}

.breadcrumb-ul {
    display: flex; 
    gap: 1em; 
    margin-left: 1em;

    list-style: none;
    padding: 0;
}

.breadcrumb-li {
    position: relative;
    padding-left: 1.2em; /* espacio para el símbolo */
    font-size: 0.85rem;
}

.breadcrumb-li a {
  text-decoration: none;
  color: #757575;
  text-decoration: underline;
}

.breadcrumb-li a:hover {
    color: #dd03ff;
}

.breadcrumb-li.breadcrumb-active {
  font-weight: bold;
  color: #6a6a6a;
  text-decoration: none;

}

.breadcrumb-li::before {
    content: ">";
    position: absolute;
    top: -1px;
    left: 0;
    color: #693767;
    font-weight: bold;
}

/* CANTIDAD PRODUCTOS ____________________________________ */

.productos-cant {
    width: 100%;
    background-color: #fff;

    display: flex;
    justify-content: space-between;

    padding: 5px 2.5em;
    color: #757575;
    font-size: 0.9rem;
}

#orden {
    border-radius: 3px;
    padding: 1px 3px;
    border: 1px solid #4e4e4e;
}

/* PRODUCTOS CONTAINER __________________________________ */

/* MENSAJE SIN PRODUCTOS */
.mensaje-productos {
    padding: 1.5em 0;
    font-size: 2rem;
    font-weight: lighter;
    color: #5f5f5f;
    text-align: center;

    display: none;
}

.container {
    background-color: #fff;
}

.productos {
    margin: 0 0 10em 0;
    padding: 20px 40px 60px 40px;
}

.productos-grid {
    padding: 0 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 1.75em;
}

.producto-card {
    background-color: white;
    padding: 10px 15px;
    /* border-radius: 8px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;

    cursor: pointer;
    transition: 0.1s all;

    position: relative;
}

.producto-card:hover {
    transform: scale(1.02); /* se agranda un 5% */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25);
}

.producto-nuevo {
    position: absolute;
    top: 40px;
    right: 5px;
    /* background-color: rgb(235, 77, 77); */
    background-color: rgb(255, 75, 75);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    color: rgb(255, 255, 255);
    padding: 3px 11px;
    font-size: 11px;
    border-radius: 99px;
    z-index: 10;
}

.producto-versiones {
    position: absolute;
    top: 10px;
    right: 5px;
    /* background-color: rgb(235, 77, 77); */
    background-color: rgb(32, 32, 32);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
    border: 2px solid white;
    color: rgb(255, 208, 0);
    padding: 3px 11px;
    font-size: 11px;
    border-radius: 99px;
    z-index: 10;
}

.img-card {
    width: 100%;
    height: 12.5rem;
    /* background-color: #ddd; */
    border-radius: 4px;
    margin-bottom: 10px;
    object-fit: contain;
}

.title-card {
    margin: 0.5em 0;
    text-align: start;
    font-size: 0.9rem;
    font-weight: lighter;
}

.btn-card {
    display: flex;
    justify-self: end;
    padding: 7px 25px;
    font-size: 0.75rem;
    color: #000;
    background-color: #dcc3e0;

    border-radius: 15px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-card:hover {
    background-color: #cd7fec;
    color: #fff;
    transition: 0.2s ease;
}

.productos-ver {
    display: flex;
    justify-content: center;
}

.productos-ver .btn-productos {
    padding: 15px 50px;
    font-size: 1rem;
    font-weight: bold;
    margin: 4em 0 0 0;
    border: none;
    border-radius: 5px;
}

/* RESPONSIVE CSS
-------------------------------------------------------------------------------------------------------------------- */

@media (max-width: 575px) {
    /* BUSQUEDA ___________________________________________ */
    .busqueda {
        padding: 0 0em;
    }

    .div-busqueda {

        gap: 0.75em;
        margin: 15px 0;

        flex-direction: column;
    }

    .busqueda-input {
        border-radius: 25px;
        padding: 10px 15px;
    }

    .clear-btn {
        right: 25px;
        top: 50%;
        transform: translateY(-57.5%);
        font-size: 22px;
    }

    #texto {
        width: 300px;
        padding-right: 35px; /* espacio para la X */
        font-size: 0.9rem;
        border-radius: 25px;
        padding: 6px 15px;
    }

    .categoria-chips {
        padding: 5px;
        gap: 1px 10px;
    }

    .btn-buscar {
        font-weight: bold;
        border-radius: 25px;
        width: auto;
        height: auto;
        padding: 15px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .productos-cant {
        flex-direction: column;
        gap: 10px;
    }

    /* MENSAJE SIN PRODUCTOS */

    .mensaje-productos {
        margin: 1.5em 0;
        font-size: 2rem;
        font-weight: lighter;
        color: #5f5f5f;
        text-align: center;
    }

    /* PRODUCTOS _______________________________________________ */

    .productos {
        padding: 20px 10px 40px 10px;
        background-color: #fff;
        /* margin: 0 0 3em 0; */
    }

    .productos-grid {
        padding: 0 1em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 1em;
    }

    .producto-card {
        background-color: white;
        padding: 10px 15px;
        /* border-radius: 8px; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .img-card {
        width: 100%;
        height: 8rem;
        /* background-color: #ddd; */
        border-radius: 4px;
        margin-bottom: 10px;
        object-fit: contain;
    }

    .title-card {
        margin: 0.5em 0;
        text-align: start;
        font-size: 0.65rem;
        font-weight: lighter;
    }

    .btn-card {
        display: flex;
        justify-self: end;
        padding: 7px 25px;
        font-size: 0.7rem;

        border-radius: 15px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .productos-ver {
        display: flex;
        justify-content: center;
    }

    .productos-ver .btn-productos {
        padding: 15px 50px;
        font-size: 1rem;
        font-weight: bold;
        margin: 4em 0 0 0;
        border: none;
        border-radius: 5px;
    }
}

/* -------------------------------------------------------------------------------------------------------------------- */

@media (min-width: 576px) and (max-width: 767px) {

    /* BUSQUEDA ___________________________________________ */
    .busqueda {
        padding: 0 0em;
    }

    .div-busqueda {
        gap: 1em;
        margin: 20px 0;
    }

    .busqueda-input {
        border-radius: 25px;
        padding: 10px 15px;
    }

    .clear-btn {
        right: 25px;
        top: 50%;
        transform: translateY(-57.5%);
        font-size: 22px;
    }

    #texto {
        width: 400px;
        padding-right: 35px; /* espacio para la X */
        font-size: 0.9rem;
        border-radius: 25px;
        padding: 6px 15px;
    }

    .categoria-chips {
        padding: 5px;
        gap: 10px;
    }

    .btn-buscar {
        border-radius: 25px;
        width: auto;
        height: auto;
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    /* MENSAJE SIN PRODUCTOS */

    .mensaje-productos {
        margin: 1.5em 0;
        font-size: 2rem;
        font-weight: lighter;
        color: #5f5f5f;
        text-align: center;
    }

    /* PRODUCTOS _______________________________________________ */

    .productos {
        padding: 20px 10px 40px 10px;
        background-color: #fff;
        /* margin: 0 0 3em 0; */
    }

    .productos-grid {
        padding: 0 1em;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 1.25em;
    }

    .producto-card {
        background-color: white;
        padding: 10px 15px;
        /* border-radius: 8px; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .img-card {
        width: 100%;
        height: 8rem;
        /* background-color: #ddd; */
        border-radius: 4px;
        margin-bottom: 10px;
        object-fit: contain;
    }

    .title-card {
        margin: 0.5em 0;
        text-align: start;
        font-size: 0.65rem;
        font-weight: lighter;
    }

    .btn-card {
        display: flex;
        justify-self: end;
        padding: 7px 25px;
        font-size: 0.7rem;

        border-radius: 15px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .productos-ver {
        display: flex;
        justify-content: center;
    }

    .productos-ver .btn-productos {
        padding: 15px 50px;
        font-size: 1rem;
        font-weight: bold;
        margin: 4em 0 0 0;
        border: none;
        border-radius: 5px;
    }

}


/* -------------------------------------------------------------------------------------------------------------------- */

/* Estilos para tablets grandes */
@media (min-width: 768px) and (max-width: 991px) {
    
    /* BUSQUEDA ___________________________________________ */
    .busqueda {
        padding: 0 0em;
    }

    .div-busqueda {
        gap: 1em;
        margin: 20px 0;
    }

    .busqueda-input {
        border-radius: 25px;
        padding: 10px 15px;
    }

    .clear-btn {
        right: 25px;
        top: 50%;
        transform: translateY(-57.5%);
        font-size: 22px;
    }

    #texto {
        width: 400px;
        padding-right: 35px; /* espacio para la X */
        font-size: 0.9rem;
        border-radius: 25px;
        padding: 6px 15px;
    }

    .btn-buscar {
        border-radius: 99px;
        width: 45px;
        height: 45px;
    }

    .categoria-chips {
        padding: 5px;
        gap: 10px;
    }

    /* MENSAJE SIN PRODUCTOS */
    .mensaje-productos {
        margin: 1.5em 0;
        font-size: 2rem;
        font-weight: lighter;
        color: #5f5f5f;
        text-align: center;
    }

    /* PRODUCTOS _______________________________________________ */

    .productos {
        padding: 30px 20px 80px 20px;
        background-color: #fff;
        /* margin: 0 0 3em 0; */
    }

    .productos-grid {
        padding: 0 1em;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(2, 1fr); */
        gap: 1.25em;
    }

    .producto-card {
        background-color: white;
        padding: 10px 15px;
        /* border-radius: 8px; */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .img-card {
        width: 100%;
        height: 8rem;
        /* background-color: #ddd; */
        border-radius: 4px;
        margin-bottom: 10px;
        object-fit: contain;
    }

    .title-card {
        margin: 0.5em 0;
        text-align: start;
        font-size: 0.65rem;
        font-weight: lighter;
    }

    .btn-card {
        display: flex;
        justify-self: end;
        padding: 7px 25px;
        font-size: 0.7rem;

        border-radius: 15px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }

    .productos-ver {
        display: flex;
        justify-content: center;
    }

    .productos-ver .btn-productos {
        padding: 15px 50px;
        font-size: 1rem;
        font-weight: bold;
        margin: 4em 0 0 0;
        border: none;
        border-radius: 5px;
    }

}


/* -------------------------------------------------------------------------------------------------------------------- */

/* 6. Escritorio */
@media (min-width: 992px) {
    .productos-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* 7. Escritorio Quad HD 2k */
@media (min-width: 1440px) {
    .productos-grid {
        grid-template-columns: repeat(6, 1fr);
    }
}

